<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>9inevolt</string>
	<key>Builder Version</key>
	<string>9537.77.4</string>
	<key>CFBundleDisplayName</key>
	<string>betterdgg</string>
	<key>CFBundleIdentifier</key>
	<string>gg.destiny.better</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.4</string>
	<key>CFBundleVersion</key>
	<string>0.4.1</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>betterdgg.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>betterdgg.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Restores emotes and faith in humanity to users of destiny.gg</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.destiny.gg</string>
			</array>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://9inevolt.github.io/betterdgg/safari/update-manifest.plist</string>
	<key>Website</key>
	<string>http://9inevolt.github.io/betterdgg</string>
</dict>
</plist>
