#bdgg-about.bdgg-menu(style="display:none")
  .list-wrap.clearfix
  .toolbar
    h5
      span Better Destiny.gg
      span.close.glyphicon.glyphicon-remove
  h6 v#{version}
  ul
    li Mentioned user names can now be clicked to highlight multiple users
    li Ustream channel URLs now convert to OverRustle.com (except in Safari)
    li Added custom ignore word list
    li Clickable indicator when chat is scrolled up
    li Many new emotes
  hr
  .bdgg-menu-footer
    a(href="http://9inevolt.github.io/betterdgg/" target="_blank") Homepage
