#bdgg-about.bdgg-menu(style="display:none")
  .list-wrap.clearfix
  .toolbar
    h5
      span Better Destiny.gg
      span.close.glyphicon.glyphicon-remove
  h6 v#{version}
  ul
    li BBDGG Contributor icon flipped and simplified.
    li New option to highlight the mentions of a selected user. Enable by default.
    li Emote menu is now organized into header sections for organization.
    li /stalk requests are now handled directly between the user and overrustlelogs.net
    li CSS fix for the "xD" emote
  hr
  .bdgg-menu-footer
    a(href="http://downthecrop.xyz/bbdgg" target="_blank") Homepage
