#bdgg-about.bdgg-menu(style="display:none")
  .list-wrap.clearfix
  .toolbar
    h5
      span Better Destiny.gg
      span.close.glyphicon.glyphicon-remove
  h6 v#{version}
  ul
    li This is the first actaul release, more to come!
    li Override Kappa Emotes
    li New Options to Disable Combos (Text or All)
    li Hide All Flairs
    li Option to disable all GIF Emotes (RaveDoge)
    li Added CuckCrab, CoolCat, FeelsBadMan, MingLee, and OhMyDog
    li ASLAN and DJAslan fixed for Firefox users
  hr
  .bdgg-menu-footer
    a(href="http://downthecrop.xyz/bbdgg" target="_blank") Homepage
