#bdgg-about.bdgg-menu(style="display:none")
  .list-wrap.clearfix
  .toolbar
    h5
      span Better Destiny.gg
      span.close.glyphicon.glyphicon-remove
  h6 v#{version}
  ul
    li NOBULLY, gachiGASM, and haHAA added
    li Fixed Text combo disables
    li CSS for emote list GUI
    li CuckCrab first frame lag removed
    li General cleanup
  hr
  .bdgg-menu-footer
    a(href="http://downthecrop.xyz/bbdgg" target="_blank") Homepage
