#bdgg-about.bdgg-menu(style="display:none")
  .list-wrap.clearfix
  .toolbar
    h5
      span Better Destiny.gg
      span.close.glyphicon.glyphicon-remove
  h6 v#{version}
  ul
    li Added TopCake emote
    li Update notifications
    li Convert stream links to overrustle
    li Prevent emotes from showing in URLs
  hr
  .bdgg-menu-footer
    a(href="http://9inevolt.github.io/betterdgg/" target="_blank") Homepage
