#bdgg-about.bdgg-menu(style="display:none")
  .list-wrap.clearfix
  .toolbar
    h5
      span Better Destiny.gg
      span.close.glyphicon.glyphicon-remove
  h6 v#{version}
  ul
    li FeelsAmazingMan added
    li Prohibited phrases are now server side
    li Mute message opacity restored to 50%
    li Easier readability for muted messages on highlight
    li Desktop notifications for private messages are now blocked for ignored users
    li Redundant bot flairs removed
    li Bot is now correctly sorted in the user list
    li OverRustle.js cleanup
    li BDGG (9inevolts old version) died at 1.4.0. We will not share the same fate. RIP 9inevolt
  hr
  .bdgg-menu-footer
    a(href="http://downthecrop.xyz/bbdgg" target="_blank") Homepage
