#bdgg-about.bdgg-menu(style="display:none")
  .list-wrap.clearfix
  .toolbar
    h5
      span Better Destiny.gg
      span.close.glyphicon.glyphicon-remove
  h6 v#{version}
  ul
    li Added help on how to generate an authkey for flag flair
    li New option to hide all Better Destiny.gg flair
    li Fix /stalk to get latest messages from overrustlelogs
    li Override SpookerZ
  hr
  .bdgg-menu-footer
    a(href="http://9inevolt.github.io/betterdgg/" target="_blank") Homepage
