#bdgg-about.bdgg-menu(style="display:none")
  .list-wrap.clearfix
  .toolbar
    h5
      span Better Destiny.gg
      span.close.glyphicon.glyphicon-remove
  h6 v#{version}
  ul
    li 1.4.2.1 - New Disable TRUMPED emotes toggle
    li -- Below are 1.4.2 Changes --
    li Future sub emotes will automatically be available to BBDGG users
    li Legacy settings menu loading removed
    li Settings now uses nanoScroller
  hr
  .bdgg-menu-footer
    a(href="http://downthecrop.xyz/bbdgg" target="_blank") Homepage
