#bdgg-about.bdgg-menu(style="display:none")
  .list-wrap.clearfix
  .toolbar
    h5
      span Better Destiny.gg
      span.close.glyphicon.glyphicon-remove
  h6 v#{version}
  ul
    li Updated Twitch emotes added (RIP nathanDubs)
    li Halloween emotes make a return
    li Moobie flair list cleanup
    li BBDGG formatting applied to old messages when joining/refreshing chat
    li Tweak to phrases.js for Firefox compliance
  hr
  .bdgg-menu-footer
    a(href="http://downthecrop.xyz/bbdgg" target="_blank") Homepage
