#bdgg-about.bdgg-menu(style="display:none")
  .list-wrap.clearfix
  .toolbar
    h5
      span Better Destiny.gg
      span.close.glyphicon.glyphicon-remove
  h6 v#{version}
  ul
    li Firefox extension now builds with jpm instead of cfx
    li New option to reverse chat and Twitch player sides (Left chat)
    li Left chat resize support
    li Settings forms now match Destiny.gg styling
    li Passive stalk cleanup and optimization
    li New command /ps or /passivestalk to stalk a target
    li Combo disable and enable no longer requires refresh
    li New method to cleanly load modules
    li Private message desktop notifications
    li Copying a message now includes BBDGG emotes
    li Firefox signing and cleanup
    li Settings menu cleanup
  hr
  .bdgg-menu-footer
    a(href="http://downthecrop.xyz/bbdgg" target="_blank") Homepage
