#bdgg-about.bdgg-menu(style="display:none")
  .list-wrap.clearfix
  .toolbar
    h5
      span Better Destiny.gg
      span.close.glyphicon.glyphicon-remove
  h6 v#{version}
  ul
    li - 1.4.4.2 -
    li Trump override removed
    li Christmas POTATO coming soon
    li - 1.4.4 -
    li All BBDGG flairs are now accessed and updated via downthecrop.xyz/bbdgg/api/flairs.json API. These flairs update every time you enter chat and once a minute past that point.
    li Removed stock Destiny.gg emote icons from extension storage
    li CSS cleanup for unused emotes
    li /strims can now be access with /str(?) wild card or /str(?) #
    li New Rustler flair for the top 3 streams on OverRustle who are live
    li Extension icon for Chrome changed to match the store page
    li Hide BetterD.gg flairs will now show flags if the user has "Show all country flairs" enabled
    li BBDGG Hide every flair setting removed because it is now stock


  hr
  .bdgg-menu-footer
    a(href="http://downthecrop.xyz/bbdgg" target="_blank") Homepage
