#bdgg-about.bdgg-menu(style="display:none")
  .list-wrap.clearfix
  .toolbar
    h5
      span Better Destiny.gg
      span.close.glyphicon.glyphicon-remove
  h6 v#{version}
  ul
    li Optionally display flag flair for your destiny.gg/profile nationality
    li Type /emotes for new emotes
    li Moved flags to the left
    li Option to hide all flags
  hr
  .bdgg-menu-footer
    a(href="http://9inevolt.github.io/betterdgg/" target="_blank") Homepage
