#bdgg-about.bdgg-menu(style="display:none")
  .list-wrap.clearfix
  .toolbar
    h5
      span Better Destiny.gg
      span.close.glyphicon.glyphicon-remove
  h6 v#{version}
  ul
    li Animation added to ITSRAWWW
    li Passive stalk from Sweetie_Belle added
    li New message for mutes so I stop getting spammed
    li CuckCrab quality increased
    li BULLY hover addd to NOBULLY
    li haHAA wraping fixed
    li Cleanup unused emote images
    li Middle Mouse Scrolling for Chrome (1.3.3)
  hr
  .bdgg-menu-footer
    a(href="http://downthecrop.xyz/bbdgg" target="_blank") Homepage
