#bdgg-about.bdgg-menu(style="display:none")
  .list-wrap.clearfix
  .toolbar
    h5
      span Better Destiny.gg
      span.close.glyphicon.glyphicon-remove
  h6 v#{version}
  ul
    li Multiple extension loading fixes 
    li New /unps or /unpassivestalk
    li Added a ‘Help’ button to direct to the wiki for troubleshooting
    li Contributor icons for BBDGG developers
    li Twitch Chat toggle button added to dgg/bigscreen
    li Avoid prohibited phrases setting added
    li Private message desktop notifications update
  hr
  .bdgg-menu-footer
    a(href="http://downthecrop.xyz/bbdgg" target="_blank") Homepage
