#bdgg-about.bdgg-menu(style="display:none")
  .list-wrap.clearfix
  .toolbar
    h5
      span Better Destiny.gg
      span.close.glyphicon.glyphicon-remove
  h6 v#{version}
  ul
    li Fix what broke in last site update
    li Update to permanent /stalk host
    li Add /strims command for overrustle.com
    li Allow chat in a browser sidebar (Firefox only)
    li See /emotes for emote updates
  hr
  .bdgg-menu-footer
    a(href="http://9inevolt.github.io/betterdgg/" target="_blank") Homepage
