#bdgg-embed
  #bdgg-embed-panel.panel.bdgg-panel
    .panel-heading
      span.panel-title.collapse Title
      a.pull-right(data-target="#bdgg-embed-panel .collapse" data-toggle="collapse")
        span.glyphicon.glyphicon-chevron-down
    .panel-collapse.collapse
      .panel-body.nano
        .nano-content
