li
  label.checkbox(title="#{setting.description}")
    input(id="#{setting.key}" type="checkbox", title="#{setting.description}",
      checked=(setting.value ? 'checked' : undefined))
    = setting.name
