hr
.bdgg-menu-footer
  span v#{version}
  .pull-right
    a.bdgg-advanced(href="#") Advanced
    span 
    a.bdgg-whatsnew(href="#") About
    span 
    a(target="_new", href="https://github.com/BryceMatthes/betterdgg/wiki") Help

