#bdgg-popup(style="display:none")
  .bdgg-logo
  .bdgg-notice
    h5 Better Destiny.gg v#{version} installed
    .bdgg-link-wrap
      a.bdgg-whatsnew(href="#") What's new
      a.bdgg-dismiss(href="#") Dismiss
