.chat-emote.chat-emote-ASLAN, .chat-emote.bdgg-chat-emote-ASLAN {
    background-image:url('images/emoticons/ASLAN.png');
    width: 37px;
    height: 30px;
    margin-top: -30px !important;
}

.chat-emote.chat-emote-ASLAN, .chat-emote.bdgg-chat-emote-ASLAN.bdgg-xmas {
    background-image:url('images/emoticons/xmasASLAN.png');
    width: 35px;
}

.chat-emote-CallCatz, .chat-emote.bdgg-chat-emote-CallCatz {
    background-image:url('images/emoticons/CallCatz.png');
    width: 22px;
    height: 30px;
    margin-top: -30px;
}

.chat-emote-CallChad, .chat-emote.bdgg-chat-emote-CallChad {
    background-image:url('images/emoticons/CallChad.png');
    width: 24px;
    height: 30px;
    margin-top: -30px;
}

.chat-emote.chat-emote-DESBRO, .chat-emote.bdgg-chat-emote-DESBRO {
    background-image:url('images/emoticons/DESBRO.png');
    width: 27px;
    height: 30px;
    margin-top: -30px !important;
}

.chat-emote.chat-emote-DESBRO, .chat-emote.bdgg-chat-emote-DESBRO.bdgg-xmas {
    background-image:url('images/emoticons/xmasDESBRO.png');
    width: 32px;
}

.chat-emote.chat-emote-DJAslan, .chat-emote.bdgg-chat-emote-DJAslan {
    background-image:url('images/emoticons/DJAslan.png');
    width: 29px;
    height: 36px;
    margin-top: -36px !important;
}

.chat-emote-Dravewin, .chat-emote.bdgg-chat-emote-Dravewin {
    background-image:url('images/emoticons/Dravewin.png');
    width: 30px;
    height: 30px;
    margin-top: -30px;
}

.chat-emote-FIDGETLOL, .chat-emote.bdgg-chat-emote-FIDGETLOL {
    background-image:url('images/emoticons/FIDGETLOL.png');
    width: 25px;
    height: 25px;
    margin-top: -25px;
}

.chat-emote-TooSpicy, .chat-emote.bdgg-chat-emote-TooSpicy {
    background-image:url('images/emoticons/TooSpicy.png');
    width: 23px;
    height: 30px;
    margin-top: -30px;
}

.chat-emote.bdgg-chat-emote-BrainSlug {
    width: 18px;
    height: 27px;
    margin-top: -30px !important;
    background: url('images/emoticons/BrainSlug.png');
}

.chat-emote-SoSad.bdgg-chat-emote-override {
    background:url('images/emoticons/SoSad.png') !important;
    width: 23px !important;
    height: 32px !important;
    margin-top: -32px !important;
}

.chat-emote.bdgg-chat-emote-CARBUCKS {
    width: 30px;
    height: 30px;
    margin-top: -30px !important;
    background: url('images/emoticons/CARBUCKS.png');
}

.chat-emote.bdgg-chat-emote-ChanChamp {
    width: 23px;
    height: 30px;
    margin-top: -30px !important;
    background: url('images/emoticons/ChanChamp.png');
}

.chat-emote.bdgg-chat-emote-CheekerZ {
    width: 28px;
    height: 32px;
    margin-top: -28px !important;
    background: url('images/emoticons/CheekerZ.png');
}

.chat-emote.bdgg-chat-emote-Depresstiny {
    width: 28px;
    height: 28px;
    margin-top: -28px !important;
    background: url('images/emoticons/Depresstiny.png');
}

.chat-emote.bdgg-chat-emote-HerbPerve {
    width: 28px;
    height: 28px;
    margin-top: -28px !important;
    background: url('images/emoticons/HerbPerve.png');
}

.chat-emote.bdgg-chat-emote-Jewstiny {
    width: 27px;
    height: 32px;
    margin-top: -32px !important;
    background: url('images/emoticons/Jewstiny.png');
}

.chat-emote.bdgg-chat-emote-NiceMeMe {
    width: 27px;
    height: 30px;
    margin-top: -30px !important;
    background: url('images/emoticons/NiceMeMe.png');
}

.chat-emote.bdgg-chat-emote-CallHafu {
    width: 36px;
    height: 30px;
    margin-top: -30px !important;
    background: url('images/emoticons/CallHafu.png');
}

.chat-emote.bdgg-chat-emote-ChibiDesti {
    width: 40px;
    height: 30px;
    margin-top: -30px !important;
    background: url('images/emoticons/ChibiDesti.png');
}

.chat-emote.bdgg-chat-emote-CORAL {
    width: 25px;
    height: 30px;
    margin-top: -30px !important;
    background: url('images/emoticons/CORAL.png');
}

.chat-emote.bdgg-chat-emote-CUX {
    width: 76px;
    height: 30px;
    margin-top: -30px !important;
    background: url('images/emoticons/CUX.png');
}

.chat-emote.bdgg-chat-emote-DSPstiny {
    width: 22px;
    height: 32px;
    margin-top: -32px !important;
    background: url('images/emoticons/DSPstiny.png');
}

.chat-emote.bdgg-chat-emote-GabeN {
    width: 27px;
    height: 28px;
    margin-top: -28px !important;
    background: url('images/emoticons/GabeN.png');
}

.chat-emote.bdgg-chat-emote-ITSRAWWW {
    width: 25px;
    height: 30px;
    margin-top: -30px !important;
    background: url('images/emoticons/ITSRAWWW.png');
}

.chat-emote.bdgg-chat-emote-PEPE {
    width: 30px;
    height: 30px;
    margin-top: -30px !important;
    background: url('images/emoticons/PEPE.png');
}

.chat-emote.bdgg-chat-emote-POTATO {
    width: 28px;
    height: 28px;
    margin-top: -28px !important;
    background: url('images/emoticons/POTATO.png');
}

.chat-emote.bdgg-chat-emote-RaveDoge {
    width: 44px;
    height: 30px;
    margin-top: -30px !important;
    background: url('images/emoticons/RaveDoge.gif');
}

.chat-emote.bdgg-chat-emote-Riperino {
    width: 28px;
    height: 28px;
    margin-top: -28px !important;
    background: url('images/emoticons/Riperino.png');
}

.chat-emote.bdgg-chat-emote-SephURR {
    width: 28px;
    height: 28px;
    margin-top: -28px !important;
    background: url('images/emoticons/SephURR.png');
}

.chat-emote.bdgg-chat-emote-ShibeZ {
    width: 28px;
    height: 28px;
    margin-top: -28px !important;
    background: url('images/emoticons/ShibeZ.png');
}

.chat-emote.bdgg-chat-emote-SourPls {
    width: 32px;
    height: 32px;
    margin-top: -32px !important;
    background: url('images/emoticons/SourPls.gif');
}

.chat-emote.bdgg-chat-emote-SpookerZ {
    width: 30px;
    height: 30px;
    margin-top: -30px !important;
    background: url('images/emoticons/SpookerZ.png');
}

.chat-emote.bdgg-chat-emote-SuccesS {
    width: 28px;
    height: 28px;
    margin-top: -28px !important;
    background: url('images/emoticons/SuccesS.png');
}

.chat-emote.bdgg-chat-emote-TopCake {
    width: 30px;
    height: 30px;
    margin-top: -30px !important;
    background: url('images/emoticons/TopCake.png');
}

.chat-emote.bdgg-chat-emote-WEOW {
    width: 28px;
    height: 28px;
    margin-top: -28px !important;
    background: url('images/emoticons/WEOW.png');
}

.chat-emote.bdgg-chat-emote-YEE {
    width: 23px;
    height: 32px;
    margin-top: -32px !important;
    background: url('images/emoticons/YEE.png');
}

.chat-emote.bdgg-chat-emote-4Head {
    width: 20px;
    height: 30px;
    margin-top: -30px !important;
    background: url('images/emoticons/emoticons.png') no-repeat -242px -123px;
}

.chat-emote.bdgg-chat-emote-aaaChamp {
    width: 28px;
    height: 28px;
    margin-top: -28px !important;
    background: url('images/emoticons/aaaChamp.png');
}

.chat-emote.bdgg-chat-emote-BabyRage {
    width: 28px;
    height: 28px;
    margin-top: -28px !important;
    background: url('images/emoticons/BabyRage.png');
}

.chat-emote.bdgg-chat-emote-D_ {
    width: 28px;
    height: 28px;
    margin-top: -28px !important;
    background: url('images/emoticons/D_.png');
}

.chat-emote.bdgg-chat-emote-DansGame {
    width: 24px;
    height: 31px;
    margin-top: -31px !important;
    background: url('images/emoticons/DansGame.png');
}

.chat-emote.bdgg-chat-emote-dayJoy {
    width: 28px;
    height: 28px;
    margin-top: -28px !important;
    background: url('images/emoticons/dayJoy.png');
}

.chat-emote.bdgg-chat-emote-DatSheffy {
    width: 24px;
    height: 30px;
    margin-top: -30px !important;
    background: url('images/emoticons/emoticons.png') no-repeat -131px -90px;
}

.chat-emote.bdgg-chat-emote-EleGiggle {
    width: 28px;
    height: 28px;
    margin-top: -28px !important;
    background: url('images/emoticons/EleGiggle.png');
}

.chat-emote.bdgg-chat-emote-kaceyFace {
    width: 28px;
    height: 28px;
    margin-top: -28px !important;
    background: url('images/emoticons/kaceyFace.png');
}

.chat-emote.bdgg-chat-emote-Keepo {
    width: 27px;
    height: 29px;
    margin-top: -29px !important;
    background: url('images/emoticons/Keepo.png');
}

.chat-emote.bdgg-chat-emote-Kreygasm {
    width: 19px;
    height: 27px;
    margin-top: -27px !important;
    background: url('images/emoticons/emoticons.png') no-repeat -141px 0;
}

.chat-emote.bdgg-chat-emote-lirikThump {
    width: 28px;
    height: 26px;
    margin-top: -26px !important;
    background: url('images/emoticons/lirikThump.png');
}

.chat-emote.bdgg-chat-emote-OpieOP {
    width: 21px;
    height: 30px;
    margin-top: -30px !important;
    background: url('images/emoticons/emoticons.png') no-repeat -179px -123px;
}

.chat-emote.bdgg-chat-emote-PJSalt {
    width: 36px;
    height: 30px;
    margin-top: -30px !important;
    background: url('images/emoticons/emoticons.png') no-repeat -106px -123px;
}

.chat-emote.bdgg-chat-emote-PogChamp {
    width: 23px;
    height: 30px;
    margin-top: -30px !important;
    background: url('images/emoticons/emoticons.png') no-repeat -166px -28px;
}

.chat-emote.bdgg-chat-emote-ResidentSleeper {
    width: 28px;
    height: 28px;
    margin-top: -28px !important;
    background: url('images/emoticons/emoticons.png') no-repeat -212px -28px;
}

.chat-emote.bdgg-chat-emote-SMOrc {
    width: 32px;
    height: 32px;
    margin-top: -32px !important;
    background: url('images/emoticons/emoticons.png') no-repeat -25px -123px;
}

.chat-emote.bdgg-chat-emote-SSSsss {
    width: 24px;
    height: 24px;
    margin-top: -24px !important;
    background: url('images/emoticons/emoticons.png') no-repeat -239px 0;
}

.chat-emote.bdgg-chat-emote-SwiftRage {
    width: 21px;
    height: 28px;
    margin-top: -28px !important;
    background: url('images/emoticons/emoticons.png') no-repeat -241px -28px;
}

.chat-emote.bdgg-chat-emote-WinWaker {
    width: 30px;
    height: 30px;
    margin-top: -30px !important;
    background: url('images/emoticons/emoticons.png') no-repeat -23px -59px;
}

.chat-input-wrap {
    margin-right: 90px !important;
}

.bdgg-glyphicon-aslan {
    background-image:url('images/glyphicon_aslan_grey.png');
    display: inline-block;
    height: 20px;
    width: 24px;
    vertical-align: baseline;
}

.bdgg-glyphicon-aslan:hover,
.active .bdgg-glyphicon-aslan {
    background-image:url('images/glyphicon_aslan.png');
}

.icon-bdgg-contributor {
    background-image:url('images/contributor.png');
}

.icon-bdgg-moobie {
    background-image:url('images/moobie.png');
}

.icon-bdgg-play {
    background-image:url('images/play.png');
}

.icon-bdgg-platform-twitch {
    background-image:url('images/platform_twitch.png');
}

.icon-bdgg-platform-ustream {
    background-image:url('images/platform_ustream.png');
}

#bdgg-settings {
    position: absolute;
    bottom: 0;
    right: 20px;
    width: 240px;
    padding: 0 0 5px;
    border-radius: 4px;
}

.bdgg-menu {
    background: #1A1A1A;
    font-size: 12px;
    z-index: 220;
}

.bdgg-menu .toolbar {
    background: #353535;
    margin: 0;
    padding: 5px;
    width: 100%;
    border-radius: 4px 4px 0 0;
}

.bdgg-menu-footer {
    padding: 0 5px;
}

.bdgg-menu hr {
    margin-top: 20px;
    margin-bottom: 5px;
}

.bdgg-menu .toolbar .close {
    font-size: 12px !important;
}

.bdgg-menu .toolbar h5 {
    margin: 0 !important;
    padding: 0 !important;
}

.bdgg-menu label {
    font-weight: normal !important;
}

.bdgg-menu label:hover {
    color: white;
}

.bdgg-menu label.checkbox {
    cursor: pointer;
    padding-left: 20px;
}

.bdgg-menu label.text input {
    width: 100%;
}

#bdgg-settings ul {
    padding: 0 5px;
}

#bdgg-settings li {
    list-style-type: none;
}

#bdgg-about {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#bdgg-about ul {
    padding-left: 20px;
    padding-right: 5px;
    margin-top: 10px;
}

#bdgg-about li {
    margin-top: 5px;
}

#bdgg-about h6 {
    font-family: Helvetica, Arial, sans-serif !important;
    margin: 0;
    padding: 5px 5px 0 !important;
}

#bdgg-popup {
    background: white;
    color: black;
    padding: 0;
    border-radius: 0px;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 64px;
    z-index: 500;
    box-shadow: 2px 2px 5px #333;
    -webkit-animation: bdgg-slideDown 750ms ease-in;
    -moz-animation: bdgg-slideDown 750ms ease-in;
}

#bdgg-popup h5 {
    color: black !important;
    font-family: Helvetica, Arial, sans-serif !important;
    margin: 2px 5px 5px 2px !important;
}

#bdgg-popup a {
    font-size: 12px;
    display: inline-block;
}

#bdgg-popup a.bdgg-dismiss {
    margin-left: 8px;
}

#bdgg-popup .bdgg-logo {
    background:url('images/logo.png') no-repeat;
    background-size: contain;
    width: 64px;
    height: 64px;
    display: inline-block;
}

#bdgg-popup .bdgg-notice {
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;
}

#bdgg-popup .bdgg-link-wrap {
    text-align: center;
}

@-webkit-keyframes bdgg-slideDown {
    from { -webkit-transform: translateY(-50px); }
    to   { -webkit-transform: translateY(0); }
}

@-moz-keyframes bdgg-slideDown {
    from { -moz-transform: translateY(-50px); }
    to   { -moz-transform: translateY(0); }
}

.chat-theme-dark .bdgg-stalk-msg {
    background: #222;
}

.chat-theme-dark .bdgg-strim-msg {
    background: #302b29;
}

.chat-theme-dark .chat-lines .bdgg-stalk-msg time {
    display: inline-block !important;
    color: #888;
}

.chat-lines div.bdgg-muted {
    opacity: 0.5 !important;
}

.chat-lines div.bdgg-muted a.externallink {
    text-decoration: line-through !important;
}

.chat.focus-user .chat-lines > .user-msg.highlight:not(.focused) {
    opacity: 0.3;
}

#bdgg-scroll-notify {
    position: absolute;
    display: none;
    bottom : 0;
    left: 0;
    right: 0;
    background: rgba(25, 25, 25, 0.75);
    text-align: center;
    cursor: pointer;
}
