.chat-emote.chat-emote-ASLAN, .chat-emote.bdgg-chat-emote-ASLAN {
    background-image:url('images/emoticons/ASLAN.png');
    width: 37px;
    height: 30px;
    margin-top: -30px !important;
}

.chat-emote-CallCatz, .chat-emote.bdgg-chat-emote-CallCatz {
    background-image:url('images/emoticons/CallCatz.png');
    width: 22px;
    height: 30px;
    margin-top: -30px;
}

.chat-emote-CallChad, .chat-emote.bdgg-chat-emote-CallChad {
    background-image:url('images/emoticons/CallChad.png');
    width: 24px;
    height: 30px;
    margin-top: -30px;
}

.chat-emote.chat-emote-DESBRO, .chat-emote.bdgg-chat-emote-DESBRO {
    background-image:url('images/emoticons/DESBRO.png');
    width: 27px;
    height: 30px;
    margin-top: -30px !important;
}

.chat-emote.chat-emote-DJAslan, .chat-emote.bdgg-chat-emote-DJAslan {
    background-image:url('images/emoticons/DJAslan.png');
    width: 29px;
    height: 36px;
    margin-top: -36px !important;
}

.chat-emote-Dravewin, .chat-emote.bdgg-chat-emote-Dravewin {
    background-image:url('images/emoticons/Dravewin.png');
    width: 30px;
    height: 30px;
    margin-top: -30px;
}

.chat-emote-FIDGETLOL, .chat-emote.bdgg-chat-emote-FIDGETLOL {
    background-image:url('images/emoticons/FIDGETLOL.png');
    width: 25px;
    height: 25px;
    margin-top: -25px;
}

.chat-emote-TooSpicy, .chat-emote.bdgg-chat-emote-TooSpicy {
    background-image:url('images/emoticons/TooSpicy.png');
    width: 23px;
    height: 30px;
    margin-top: -30px;
}

.chat-emote.bdgg-chat-emote-BrainSlug {
    width: 18px;
    height: 27px;
    margin-top: -30px !important;
    background: url('images/emoticons/BrainSlug.png');
}

.chat-emote.bdgg-chat-emote-ChanChamp {
    width: 23px;
    height: 30px;
    margin-top: -30px !important;
    background: url('images/emoticons/ChanChamp.png');
}

.chat-emote.bdgg-chat-emote-RipPA {
    width: 30px;
    height: 29px;
    margin-top: -29px !important;
    background: url('images/emoticons/RipPA.png');
}

.chat-emote.bdgg-chat-emote-DansGame {
    width: 24px;
    height: 31px;
    margin-top: -31px !important;
    background: url('images/emoticons/DansGame.png');
}

.chat-emote.bdgg-chat-emote-Kreygasm {
    width: 19px;
    height: 27px;
    margin-top: -27px !important;
    background: url('images/emoticons/emoticons.png') no-repeat -141px 0;
}

.chat-emote.bdgg-chat-emote-PJSalt {
    width: 36px;
    height: 30px;
    margin-top: -30px !important;
    background: url('images/emoticons/emoticons.png') no-repeat -106px -123px;
}

.chat-emote.bdgg-chat-emote-PogChamp {
    width: 23px;
    height: 30px;
    margin-top: -30px !important;
    background: url('images/emoticons/emoticons.png') no-repeat -166px -28px;
}

.chat-emote.bdgg-chat-emote-ResidentSleeper {
    width: 28px;
    height: 28px;
    margin-top: -28px !important;
    background: url('images/emoticons/emoticons.png') no-repeat -212px -28px;
}

.chat-emote.bdgg-chat-emote-WinWaker {
    width: 30px;
    height: 30px;
    margin-top: -30px !important;
    background: url('images/emoticons/emoticons.png') no-repeat -23px -59px;
}

.chat-input-wrap {
    margin-right: 90px !important;
}

.bdgg-glyphicon-aslan {
    background-image:url('images/glyphicon_aslan_grey.png');
    display: inline-block;
    height: 14px;
    width: 14px;
    vertical-align: text-top;
}

.bdgg-glyphicon-aslan:hover,
.active .bdgg-glyphicon-aslan {
    background-image:url('images/glyphicon_aslan.png');
}

.bdgg-menu {
    position: absolute;
    bottom: 0;
    right: 20px;
    width: 240px;
    padding: 0 0 20px;
    background: #1A1A1A;
    font-size: 12px;
    border-radius: 4px;
}

.bdgg-menu .toolbar {
    background: #353535;
    margin: 0;
    padding: 5px;
    width: 100%;
    border-radius: 4px 4px 0 0;
}

.bdgg-menu .toolbar .close {
    font-size: 12px !important;
}

.bdgg-menu .toolbar h5 {
    margin: 0 !important;
    padding: 0 !important;
}

.bdgg-menu label {
    font-weight: normal !important;
}

.bdgg-menu ul {
    padding: 0 5px;
}

.bdgg-menu li {
    list-style-type: none;
}
