.chat-emote.chat-emote-ASLAN, .chat-emote.bdgg-chat-emote-ASLAN {
    width: 37px;
    height: 30px;
    margin-top: -30px;
}

.chat-emote.chat-emote-DESBRO, .chat-emote.bdgg-chat-emote-DESBRO {
    width: 27px;
    height: 30px;
    margin-top: -30px;
}

.chat-emote.chat-emote-DJAslan, .chat-emote.bdgg-chat-emote-DJAslan {
    width: 29px;
    height: 36px;
    margin-top: -36px;
}
